@import "https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css";

.messages {
    height: calc(73vh - 130px);
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
}

.messages header {
    min-height: 55px;
}

.messages header .actions {
    position: absolute;
    top: 12px;
    right: 13px;
}

.mblm-item {
    position: relative;
    margin-top: 15px;
}

.mblm-item > div {
    display: inline-block;
    max-width: 70%;
    padding: 15px 20px;
    border-radius: 2px;
    position: relative;
}

.mblm-item small {
    display: block;
    color: #777777;
    padding: 5px 0;
}

.mblm-item-left > div {
    background-color: #ccc;
}

.mblm-item-right {
    text-align: right;
}

.mblm-item-right > div {
    background-color: #FFC107;
    color: #fff;
}

.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: transparent;
    border: 0;
    margin-top: 0;
}

.list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

a.list-group-item,
button.list-group-item {
    color: #555;
}

a.list-group-item .list-group-item-heading,
button.list-group-item .list-group-item-heading {
    color: #333;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
    text-decoration: none;
    color: #555;
    background-color: #F7F7F7;
}

button.list-group-item {
    width: 100%;
    text-align: left;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
    background-color: #fff;
    color: #B5B4B4;
    cursor: not-allowed;
}

.list-group-item.disabled .list-group-item-heading,
.list-group-item.disabled:hover .list-group-item-heading,
.list-group-item.disabled:focus .list-group-item-heading {
    color: inherit;
}

.list-group-item.disabled .list-group-item-text,
.list-group-item.disabled:hover .list-group-item-text,
.list-group-item.disabled:focus .list-group-item-text {
    color: #B5B4B4;
}

.list-group-item.active,
.list-group-item.active:hover,
.list-group-item.active:focus {
    z-index: 2;
    color: #000;
    background-color: #f5f5f5;
    border-color: #e9e9e9;
}

.list-group-item.active .list-group-item-heading,
.list-group-item.active:hover .list-group-item-heading,
.list-group-item.active:focus .list-group-item-heading,
.list-group-item.active .list-group-item-heading > small,
.list-group-item.active:hover .list-group-item-heading > small,
.list-group-item.active:focus .list-group-item-heading > small,
.list-group-item.active .list-group-item-heading > .small,
.list-group-item.active:hover .list-group-item-heading > .small,
.list-group-item.active:focus .list-group-item-heading > .small {
    color: inherit;
}

.list-group-item.active .list-group-item-text,
.list-group-item.active:hover .list-group-item-text,
.list-group-item.active:focus .list-group-item-text {
    color: #ffffff;
}

.list-group-item-success {
    color: #67bd6a;
    background-color: #67bd6a;
}

a.list-group-item-success,
button.list-group-item-success {
    color: #67bd6a;
}

a.list-group-item-success .list-group-item-heading,
button.list-group-item-success .list-group-item-heading {
    color: inherit;
}

a.list-group-item-success:hover,
button.list-group-item-success:hover,
a.list-group-item-success:focus,
button.list-group-item-success:focus {
    color: #67bd6a;
    background-color: #55b559;
}

a.list-group-item-success.active,
button.list-group-item-success.active,
a.list-group-item-success.active:hover,
button.list-group-item-success.active:hover,
a.list-group-item-success.active:focus,
button.list-group-item-success.active:focus {
    color: #fff;
    background-color: #67bd6a;
    border-color: #67bd6a;
}

.list-group-item-info {
    color: #31708f;
    background-color: #d9edf7;
}

a.list-group-item-info,
button.list-group-item-info {
    color: #31708f;
}

a.list-group-item-info .list-group-item-heading,
button.list-group-item-info .list-group-item-heading {
    color: inherit;
}

a.list-group-item-info:hover,
button.list-group-item-info:hover,
a.list-group-item-info:focus,
button.list-group-item-info:focus {
    color: #31708f;
    background-color: #c4e3f3;
}

a.list-group-item-info.active,
button.list-group-item-info.active,
a.list-group-item-info.active:hover,
button.list-group-item-info.active:hover,
a.list-group-item-info.active:focus,
button.list-group-item-info.active:focus {
    color: #fff;
    background-color: #31708f;
    border-color: #31708f;
}

.list-group-item-warning {
    color: #ffa829;
    background-color: #ffa829;
}

a.list-group-item-warning,
button.list-group-item-warning {
    color: #ffa829;
}

a.list-group-item-warning .list-group-item-heading,
button.list-group-item-warning .list-group-item-heading {
    color: inherit;
}

a.list-group-item-warning:hover,
button.list-group-item-warning:hover,
a.list-group-item-warning:focus,
button.list-group-item-warning:focus {
    color: #ffa829;
    background-color: #ff9e0f;
}

a.list-group-item-warning.active,
button.list-group-item-warning.active,
a.list-group-item-warning.active:hover,
button.list-group-item-warning.active:hover,
a.list-group-item-warning.active:focus,
button.list-group-item-warning.active:focus {
    color: #fff;
    background-color: #ffa829;
    border-color: #ffa829;
}

.list-group-item-danger {
    color: #f6675d;
    background-color: #f6675d;
}

a.list-group-item-danger,
button.list-group-item-danger {
    color: #f6675d;
}

a.list-group-item-danger .list-group-item-heading,
button.list-group-item-danger .list-group-item-heading {
    color: inherit;
}

a.list-group-item-danger:hover,
button.list-group-item-danger:hover,
a.list-group-item-danger:focus,
button.list-group-item-danger:focus {
    color: #f6675d;
    background-color: #f55145;
}

a.list-group-item-danger.active,
button.list-group-item-danger.active,
a.list-group-item-danger.active:hover,
button.list-group-item-danger.active:hover,
a.list-group-item-danger.active:focus,
button.list-group-item-danger.active:focus {
    color: #fff;
    background-color: #f6675d;
    border-color: #f6675d;
}

.list-group-item-heading {
    margin-top: 0;
    margin-bottom: 5px;
}

.list-group-item-text {
    margin-bottom: 0;
    line-height: 1.3;
}

/*-----------------------------------
    Sidebar
------------------------------------*/

.m-sidebar {
    width: 300px;
    border-right: 1px solid #ccc;
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 1;
    /* Scrollbar fix */
}

@media (max-width: 767px) {
    .m-sidebar {
        width: 60px;
    }

    .m-sidebar .list-group-item {
        padding: 10px !important;
    }

    .m-sidebar .ms-time {
        display: none;
    }
}

.m-sidebar header {
    background-color: #F7F7F7;
    padding: 20px 20px 20px 15px;
}

.m-sidebar header h2 {
    line-height: 100%;
    font-size: 15px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 400;
}

#mCSB_1_container {
    margin-right: 0px;
}

.m-sidebar .list-group {
    height: calc(100% - 55px);
}

.m-sidebar .mCSB_scrollTools {
    z-index: 2;
}

.ms-search {
    padding: 20px 25px;
    position: relative;
}

.ms-search .zmdi-search {
    position: absolute;
    left: 0px;
    top: 8px;
    font-size: 20px;
}

.ms-search input {
    padding-left: 25px !important;
}

/*-----------------------------------
    Body
------------------------------------*/

.m-body {
    position: relative;
    height: 100%;
}

@media (min-width: 768px) {
    .m-body {
        padding-left: 300px;
    }
}

@media (max-width: 767px) {
    .m-body {
        padding-left: 60px;
    }
}

.mb-header {
    background-color: #F7F7F7;
    box-shadow: 0px -1px 0px 1px #eaeaea;
    position: relative;
    z-index: 2;
}

.mbh-user {
    padding: 12px 20px;
}

.mbh-user > img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    float: left;
    margin-right: 15px;
}

.mb-list {
    height: calc(100% - 65px);
    position: relative;
}

.mbl-messages {
    height: calc(72vh - 259px);
    overflow-x: hidden;
}

@media (max-width: 767px) {
    .mbl-messages {
        padding: 20px 20px 0;
    }
}

.mblm-item {
    position: relative;
    margin-bottom: 10px;
}

.mblm-item > div {
    display: inline-block;
    max-width: 70%;
    padding: 15px 20px;
    border-radius: 2px;
    position: relative;
}

.mblm-item small {
    display: block;
    color: #777777;
    padding: 5px 0;
}

.mblm-item-left > div {
    background-color: #e5e5e5;
}

.mblm-item-right {
    text-align: right;
}

.mblm-item-right > div {
    background-color: #6FACCF;
    color: #fff;
}

.mblmi-img {
    margin: -10px -15px;
    cursor: pointer;
}

.mblmi-img img {
    max-width: 250px;
    border-radius: 2px;
}

.mbl-compose {
    border-top: 1px solid #ccc;
    height: 70px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 15px 65px 15px 15px;
}

.mbl-compose textarea {
    height: 100%;
    width: 100%;
    border-radius: 2px;
    border: 0;
    resize: none;
    background: #e5e5e5;
    padding: 5px 10px 0;
    color: #5E5E5E;
    -webkit-transition: background-color;
    -o-transition: background-color;
    transition: background-color;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.mbl-compose button {
    position: absolute;
    top: 14px;
    right: 15px;
    background: transparent;
    border: 0;
    font-size: 25px;
}

.mbl-compose button:hover {
    color: #333;
}

.four-zero {
    height: 100vh;
    background-color: #607D8B;
}

.fz-block {
    background: #557382;
    border-radius: 2px;
    position: absolute;
    top: 50%;
    margin-top: -150px;
    color: #ECF0F1;
    text-align: center;
    padding: 25px;
    height: 300px;
    width: 500px;
    left: 50%;
    margin-left: -250px;
}

.fz-block h2 {
    font-size: 130px;
    line-height: 100%;
    color: #ECF0F1;
    font-weight: 100;
}

@media (max-width: 767px) {
    .fz-block {
        width: calc(100% - 40px);
        left: 20px;
        margin-left: 0;
        height: 260px;
        margin-top: -130px;
    }

    .fz-block h2 {
        font-size: 90px;
    }
}

.fz-block small {
    display: block;
    font-size: 26px;
    margin-top: -10px;
}

.fzb-links {
    margin-top: 20px;
}

.fzb-links > a {
    font-size: 16px;
    display: inline-block;
    color: #ECF0F1;
    margin: 0 1px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    background: rgba(0, 0, 0, 0.09);
    border-radius: 50%;
    text-align: center;
}

.fzb-links > a:hover {
    background: rgba(0, 0, 0, 0.2);
}

.login-content {
    min-height: 100vh;
    text-align: center;
    background-color: #009688;
}

.login-content:before {
    display: inline-block;
    content: '';
    height: 100vh;
    width: 1px;
    vertical-align: middle;
}

.circle {
    background: white;
    border-radius: 300px;
    color: #0A246A;
    font-family: Verdana;
    font-size: 13px;
    height: 10px;
    font-weight: bold;
    width: 10px;
    display: table;
}

.lc-block {
    max-width: 500px;
    padding: 20px 0;
    width: 80%;
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.lc-block:not(.toggled) {
    display: none;
}

.lc-block.toggled {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    z-index: 10;
}

.lc-block:not(.lc-block-alt) .lcb-form {
    padding: 35px 55px 35px 25px;
}

.lc-block:not(.lc-block-alt) .btn-login {
    top: 50%;
    margin-top: -43px;
    right: -25px;
}

.lc-block .checkbox {
    margin: 5px 0 0 41px;
    text-align: left;
}

.lcb-form {
    background: #fff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
    border-radius: 2px;
}

.threads-list .list-group-item {
    padding-left: 20px;
}

#messagesAreaInner {
    padding-left: 15px;
}

#messagesArea .mCS_no_scrollbar_y,
#messagesArea.mCS_no_scrollbar {
    padding: 0 10px 0 0;
}

/*#messagesArea.threads,*/
/*#messagesArea.threads .mCS_no_scrollbar_y {*/
/*padding: 0 !important;*/
/*}*/
.lgi-heading {
    position: relative;
}

.lgi-heading .badge {
    position: absolute;
    right: 0;
    background: #6FACCF;
    padding: 2px 5px;
    font-size: 11px;
    color: #fff;
}

.m-sidebar .ms-time {
    margin-top: 2px;
    font-size: 11px;
}

.threads-list small {
    font-size: 11px;
}

#messagesArea.empty_dialogs { /**/
    background: url('../img/empty_icon.png') center center no-repeat;
}

.m-sidebar.empty_dialogs {
    background: url('../img/empty_icon.png') center center no-repeat;
}